.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

.chat-app-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fafcff;
  padding: 16px 24px;
}

.chat-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin: 8px;
  color: #1677ff;
}
